input.submit {
    margin-left: 10px;
}

form {
    display: inline-block;
}

ul {
    list-style-type : none;
    margin-left: -40;
}

th {
    text-align: left;
}

table {
    margin: 25px;
}

.center-wrapper {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.center {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.navbar {
    width: 1250px;
    top: 0px;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.next {
    float: right;
}

.todo {
    width: 500px;
    float: right;
    margin-top: 100px;
    margin-right: 50px;
    border: 1px solid grey;
    height: 100%;
}

.first-todo-column {
    width: 400px;
}

.todo-footer {
    margin: 25px;
    bottom: 0;
}

.day {
    border: 1px solid grey;
    margin-left: 50px;
    width: 1250px;
    height: 100%;
}

.date {
    margin-left: 10px;
    width: 150px;
    float: left;
    display: inline-block;
    height: 100px;
    text-align: center;
}

.new {
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
    width: 800px;
}

.entries {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.time {
    width: 60px;
}

.desc {
    margin-left: 10px;
    width: 350px;
}

.sep-x-20 {
    margin-left: 20px;
}

.sep-x-75 {
    margin-left: 75px;
}

.sep-y {
    margin-top: 50px;
}

.done {
    margin-top    : 10px;
    /* margin-bottom : 10px; */
    color         : grey;
    font-size     : 16px;
    /* height        : 32px; */
    /* width         : 300px; */
}
