ul {
    list-style-type: none;
}

form {
    display: inline-block;
    margin-bottom: 0px;
}

input.submit {
    background-color: #eeeeee;
}

.has-entry {
    width: 20px;
    height: 20px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: #2196f3;
    float: right;
}


.todo-table {
    margin-left: 200px;
}

.todo-desc {
    width: 700px;
}

.todo-footer {
    margin-top: 50px;
    margin-left: 200px;
}

.center-wrapper {
  text-align: center;
}

.center {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.next {
    float: right;
}

.todo {
    margin-top: 100px;
    border: 1px solid grey;
}

.todo-desc {
    width: 700px;
}

.day {
    border: 1px solid grey;
    height: 100%;
}

.new {
    margin-top: 50px;
    margin-left: 100px;
    display: inline-block;
}

.entries {
    margin-left: 100px;
}

.entry-time {
    width: 100px;
}

.entry-desc {
    width: 600px;
}

.entry-button {
    width: 59px;
}

.time {
    width: 100px;
}

.desc {
    width: 600px;
}

.done {
    color       : grey;
    font-size   : 18px;
    padding-top : 10px;
}

td.done {
    border-bottom: 1px solid #cccccc;
}
